*{
  margin: 0px;
}

.tour-details-card {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 400px;
  margin: 20px 10px ;
}

.tour-details-card img {
  width: 100%;
}

.details-info {
  overflow: hidden;
  position: relative;
}

.show-button {
  position: absolute;
  bottom: 0px;
  padding: 0;
  right: 0px;
  color: gray;
  background-color: white;
  border: 0;
  cursor: pointer;
}